/* Projects section */
#projects {
    padding: 2rem;
  }
  
  .projects-grid {
    display: grid;
    gap: 20px;
    justify-content: center;
  }
  
  .project-card {
    background: rgba(255, 255, 255, 0.8);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .project-card img {
    width: 100%;
    border-radius: 5px;
  }
  
  .project-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    
  }
  
  .project-buttons a {
    background: #333;
    color: #fff;
    padding: 0.5rem 0.5rem;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
  }
  
  .project-buttons a:hover {
    background: #555;
  }
  
  /* Media queries */
  @media (max-width: 520px) {
    .projects-grid {
      grid-template-columns: 1fr;
    }
  }
  
  @media (min-width: 521px) and (max-width: 760px) {
    .projects-grid {
      grid-template-columns: 1fr;
    }
  }

  @media (min-width: 521px) and (max-width: 760px) {
    .projects-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  
  @media (min-width: 761px) {
    .projects-grid {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  